.instructions {
  font-size: 1.5em;
}

.instructions li {
  padding-top: 2.5%;
}

h1 {
  text-align: center;
  color: #437C90;
}

body {
  background-color: #F7F7FF;
}

.container {
  margin: 5%;
}

code {
  font-weight: bold;
}

.instructions > p {
  text-align: center;
  font-weight: bold;
}

.api p {
  font-weight: bold;
  color: #437C90;
  margin-bottom: 0;
}

.api {
  border-top: 1px dotted;
  margin-top: 5%;
}
